@font-face {
    font-family: woof;
    src: url(./assets/font/7cHqv4kjgoGqM7E30-8s51os.ttf);
}
@font-face {
    font-family: woof2;
    src: url(./assets/font/7cHqv4kjgoGqM7E3t-4s51os.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: woof2;
}

html,body{
    width: 100%;
    height: 100%;
}

#page1{
    color: white;
    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 5vh 8vw;
    background-color: #3C40C6;
    background-image: url(https://flatuicolors.com/static/img/stars-opacity.0979c1.svg);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 20vh;
}
nav h1{
    transition: all 0.3s ease;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    margin-left: 2vw;
    position: relative;
    transition: all 0.3s ease;
}

nav a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: white;
    width: 0%;
    transition: all 0.3s ease;
    height: 2px;

}

nav a:hover {
    font-size: 1.2vw;
}

nav a:hover::after {
    width: 100%;
}
nav h1:active{
    transform: scale(.9);
}
nav a:hover{
    font-size: 1.2vw;
}

.color-pallete{
    height: 230px;
    width: 320px;
    border-radius: 10px;
    background-color: white;
    padding: 1.5vh 1.1vw;
}
.color-pallete .top{
    height: 80%;
    border-radius: 5px;
    width: 100%;
    background-color: red;
}
.color-pallete .btm{
    height: 20%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: black;
}